# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Yarn Ansible role.
#
# The Webarchitects Yarn Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Yarn Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Yarn Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Yarn role skipped
  ansible.builtin.debug:
    msg: "The tasks in the Yarn role are not being run since the yarn variable is not true."
  when: not yarn | ansible.builtin.bool
  tags:
    - yarn

- name: Yarn role setup
  block:

    - name: Gather distribution facts
      ansible.builtin.setup:
        gather_subset:
          - distribution
          - distribution_version
          - distribution_release

    - name: Debug
      ansible.builtin.debug:
        var: ansible_facts
        verbosity: "{% if ansible_check_mode | ansible.builtin.bool or ansible_diff_mode | ansible.builtin.bool %}2{% else %}3{% endif %}"
      tags:
        - debug

    - name: Debug distribution facts
      ansible.builtin.debug:
        msg: >-
          The distribution is {{ ansible_facts.distribution }} and the distribution_version is {{ ansible_facts.distribution_version }}
          (AKA {{ ansible_facts.distribution_release }}), this is a variable of the type {{ ansible_facts.distribution_version | ansible.builtin.type_debug }}.
        verbosity: "{% if ansible_check_mode | ansible.builtin.bool or ansible_diff_mode | ansible.builtin.bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: This role only supports Debian
      ansible.builtin.fail:
        msg: >-
             The distribution is {{ ansible_facts.distribution }} and the distribution_version is {{ ansible_facts.distribution_version }}
             and the distribution_release is {{ ansible_facts.distribution_release }}.
      when: ansible_facts.distribution != "Debian"

    - name: Yarn include verify tasks
      ansible.builtin.include_tasks: verify.yml
      when:
        - yarn_verify is defined
        - yarn_verify | bool

  when: yarn | ansible.builtin.bool
  tags:
    - yarn

- name: Remove Yarn Classic and install corepack on Debian Trixie and newer
  block:

    - name: Yarn package absent
      ansible.builtin.apt:
        pkg:
          - yarn
        state: absent

    - name: Run apt-cache show nodejs
      ansible.builtin.command:
        cmd: apt-cache show nodejs
      check_mode: false
      changed_when: false
      register: yarn_apt_cache_show_nodejs

    - name: Debug yarn_apt_cache_show_nodejs
      ansible.builtin.debug:
        var: yarn_apt_cache_show_nodejs
        verbosity: "{% if (ansible_check_mode | ansible.builtin.bool) or (ansible_diff_mode | ansible.builtin.bool) %}2{% else %}3{% endif %}"
      tags:
        - debug

    - name: Set a fact for the results of apt-cache show nodejs
      ansible.builtin.set_fact:
        yarn_apt_cache_show: "{{ yarn_apt_cache_show_nodejs.stdout | community.general.jc('apt_cache_show') }}"

    - name: Debug yarn_apt_cache_show
      ansible.builtin.debug:
        var: yarn_apt_cache_show
        verbosity: "{% if (ansible_check_mode | ansible.builtin.bool) or (ansible_diff_mode | ansible.builtin.bool) %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: The Debian node-corepack package depends on the nodejs package, it is not compatiable with the nodesource package
      ansible.builtin.assert:
        that:
          - yarn_apt_cache_show[0].maintainer != yarn_maintainer.nodesource
      when: yarn_apt_cache_show[0].maintainer is defined

    - name: Delete Yarn apt sources, preferences and GPG signatures
      ansible.builtin.file:
        path: "{{ yarn_classic_apt_file }}"
        state: absent
      loop: "{{ yarn_classic_apt_files }}"
      loop_control:
        loop_var: yarn_classic_apt_file
        label: "{{ yarn_classic_apt_file | ansible.builtin.basename }}"

    - name: Corepack package present
      ansible.builtin.apt:
        pkg:
          - node-corepack
        state: present
        update_cache: true

  when:
    - yarn | ansible.builtin.bool
    - ansible_facts.distribution == "Debian"
    - >-
      ((ansible_facts.distribution_version != "n/a") and (ansible_facts.distribution_version is ansible.builtin.version('13.0', 'ge'))) or
      ((ansible_facts.distribution_version == "n/a") and (ansible_facts.distribution_release is ansible.builtin.regex('^forky|sid$')))
  tags:
    - yarn

- name: Install Yarn Classic on Debian Bookworm
  block:

    - name: Include apt role local fact tasks if variables are not defined
      ansible.builtin.include_role:
        name: apt
        tasks_from: local_facts.yml
      when: >-
        ( ansible_facts.ansible_local.dpkg.arch is not defined ) or
        ( ansible_facts.ansible_local.gpg.version is not defined ) or
        ( ansible_facts.ansible_local.bash.path is not defined )

    - name: Include apt tasks
      ansible.builtin.include_tasks: apt.yml

    - name: Yarn package present
      ansible.builtin.apt:
        pkg:
          - yarn
        state: present
        update_cache: true

    - name: Run apt-cache show nodejs
      ansible.builtin.command:
        cmd: apt-cache show nodejs
      check_mode: false
      changed_when: false
      register: yarn_apt_cache_show_nodejs

    - name: Debug yarn_apt_cache_show_nodejs
      ansible.builtin.debug:
        var: yarn_apt_cache_show_nodejs
        verbosity: "{% if (ansible_check_mode | ansible.builtin.bool) or (ansible_diff_mode | ansible.builtin.bool) %}2{% else %}3{% endif %}"
      tags:
        - debug

    - name: Set a fact for the results of apt-cache show nodejs
      ansible.builtin.set_fact:
        yarn_apt_cache_show: "{{ yarn_apt_cache_show_nodejs.stdout | community.general.jc('apt_cache_show') }}"

    - name: Debug yarn_apt_cache_show
      ansible.builtin.debug:
        var: yarn_apt_cache_show
        verbosity: "{% if (ansible_check_mode | ansible.builtin.bool) or (ansible_diff_mode | ansible.builtin.bool) %}2{% else %}3{% endif %}"
      tags:
        - debug

  when:
    - yarn | ansible.builtin.bool
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_version != "n/a"
    - ansible_facts.distribution_version is ansible.builtin.version('13.0', 'lt')
  tags:
    - yarn
...
