# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Yarn Ansible role.
#
# The Webarchitects Yarn Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Yarn Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Yarn Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Gather distribution facts
  ansible.builtin.setup:
    gather_subset:
      - distribution
      - distribution_major_version
      - distribution_release
      - distribution_version
  tags:
    - yarn

- name: Debug distribution facts
  ansible.builtin.debug:
    msg: "The distribution is {{ ansible_facts.distribution }} and the distribution_version is {{ ansible_facts.distribution_version }}, this is a variable of the type {{ ansible_facts.distribution_version | ansible.builtin.type_debug }}."
    # verbosity: "{% if ansible_check_mode | ansible.builtin.bool or ansible_diff_mode | ansible.builtin.bool %}0{% else %}1{% endif %}"
  tags:
    - debug
    - yarn

- name: This role only supports Debian
  ansible.builtin.fail:
    msg: "The distribution is {{ ansible_facts.distribution_version }}, the distribution_file_variety is {{ ansible_facts.distribution_file_variety }} and the distribution_version is {{ ansible_facts.distribution_version }}."
  when: ansible_facts.distribution != "Debian"
  tags:
    - yarn

- name: Remove Yarn Classic and install corepack on Debian Trixie and newer
  block:

    - name: Yarn package absent
      ansible.builtin.apt:
        pkg:
          - yarn
        state: absent

    - name: Disable yarn.sources
      ansible.builtin.command:
        cmd: "mv /etc/apt/sources.list.d/yarn.sources /etc/apt/sources.list.d/.yarn.sources.ansible.save"
        creates: /etc/apt/sources.list.d/.yarn.sources.ansible.save
        removes: /etc/apt/sources.list.d/yarn.sources

    - name: Delete Yarn GPG signatures
      ansible.builtin.file:
        path: /etc/apt/keyrings/yarn.gpg
        state: absent

    - name: Yarn Classic absent
      ansible.builtin.debug:
        msg: "Please use the nodejs Ansible role to install corepack."

    - name: Corepack package present
      ansible.builtin.apt:
        pkg:
          - node-corepack
        state: present
        update_cache: true

  when:
    - yarn | bool
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_version | ansible.builtin.string is ansible.builtin.version('13.0', '>=')
  tags:
    - yarn

- name: Install Yarn Classic on Debian Bookworm
  block:

    - name: Include apt role local fact tasks if variables are not defined
      ansible.builtin.include_role:
        name: apt
        tasks_from: local_facts.yml
      when: >-
        ( ansible_facts.ansible_local.dpkg.arch is not defined ) or
        ( ansible_facts.ansible_local.gpg.version is not defined ) or
        ( ansible_facts.ansible_local.bash.path is not defined )

    - name: Include apt tasks
      ansible.builtin.include_tasks: apt.yml

    - name: Yarn package present
      ansible.builtin.apt:
        pkg:
          - yarn
        state: present
        update_cache: true

  when:
    - yarn | bool
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_version | ansible.builtin.string is ansible.builtin.version('13.0', '<')

  tags:
    - yarn
...
