# {{ ansible_managed }}

Types: deb
URIs: https://dl.yarnpkg.com/debian/
Suites: stable 
Architectures: {{ ansible_facts.ansible_local.dpkg.arch }}
Components: main
Signed-By: /etc/apt/keyrings/yarn.gpg

# vim: ft=debsources
